
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.poster{
    border: 1px solid black;
    width: 350px;
    border-radius: 12px;
    height: 455px;
}

.j1{
    height: 100%;
    width: 100%;
    /* margin-left: -10px;
    margin-right: -10px; */
    border-radius: 12px 12px 12px 12px;
}

.content{
    flex-grow: 1;
    /* height: 100%;
    width: 100%; */
    font-size: 20px;
    position: absolute;
    color: brown;
    text-align: center;
    border: 1px solid brown;
    margin: 0px 0px 0px 0px ;
}

