
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.j1{
    height: 350px;
    width: 300px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 12px 12px 12px 12px;
}

/* .movie{
    margin-top: 100px;
    max-height: auto;
    max-width: 265px;
    padding: 15px 15px;
    border-radius: 12px 12px;
    background-color: #A9A9A9;
} */
/* .button1{
    border-radius: 12px ;
    padding: 12px 12px;
    background-color: dodgerblue;
    margin: auto;
    max-width: 55px;   
} */