.topic{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 45px;
    word-wrap: normal;
    color: azure;
    text-align: center;
    font-weight: bold;
}
.formbox{
    background-color:black;
    width: 450px;
    height: auto;
    padding: 25px 25px;
    box-sizing:border-box;
    border-radius: 10px 10px;
    margin: auto;
    margin-top: 50px;
}
button{
    padding: 10px 10px;
    text-align: center;
    background-color: white;
    border-radius: 12px 12px; 
}
.slabel{
    font-family: 'Roboto Flex', sans-serif;
    color: azure;
    text-align: center;
    font-size: 25px;
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    box-sizing: border-box;
    /* color: azure; */
}