.sliderbody{
    margin-top: -50px;
    border: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(75deg,purple,white); */
}
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}
.slides{
    height: 500px;
    width: 500%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    transition: 2s;
    width: 50%;
}
.slide img{
    width: 1290px;
    height: 500px;
}
.manual{
    width: 800px;
    position: absolute;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manuals{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manuals:not(:last-child){
    margin-right: 40px;
}
.manuals:hover{
    background:black;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -50%;
}
/* #radio3:checked ~ .first{
    margin-left: -75%;
}
#radio4:checked ~ .first{ 
    margin-left: -100%;
} */
.auto{
    width: 800px;
    position: absolute;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 2s;
}
.auto div:not(:last-child){
     margin-right: 40px;
}
#radio1:checked ~ .auto .auto1{
    background: white;
}
#radio2:checked ~ .auto .auto2{
    background: white;
}
/* #radio3:checked ~ .auto .auto3{
    background: white;
}
#radio4:checked ~ .auto .auto4{
    background: white;
} */